<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='operations.css') }}">
</head>
<body>
    <h1>➕ Create a short link</h1>
    <form method="post" action="/create_url">
        <label for="url">Enter an https:// URL:</label>
        <input type="url"
            name="url"
            id="url"
            placeholder="https://www.xyz.com"
            pattern="https://.*" size="50"
            value="{{old_url}}"
            required
        >
        <button type="submit" value="submit">Submit</button>
        <br>
        <label>Generated URL: </label>
        <input name="generated_url" value="{{ new_url }}" readonly>
        {% if new_url %}
            <a href="{{ new_url }}" target="_blank">Open shortened URL</a>
        {% endif %}
        <div class="form-footer">
            <a href="/" class="back-home">Back home</a>
        </div>
    </form>
</html>