<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>URL Shortener Service</h1>
    <h2>List of operations</h2>

    <ul>
        <li><a href="/create_url" target="_blank">Create a short URL</a></li>
        <li><a href="/retrieve_url" target="_blank">Retrieve an original URL</a></li>
        <li>Update an existing shortened URL</li>
        <li>Get the statistics of a shortened URL</li>
    </ul>

    
</body>

</html>