<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrieve Original URL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Retrieve Original URL</h1>
    <form action="/retrieve_url" method="post">
        <label for="short_url">Enter your short URL:</label>
        <input type="url" 
        id="url" 
        name="url" 
        placeholder="http://localhost:5000/abc123"
        required
        >
        <button type="submit">Retrieve</button>
        <label>Original URL: </label>
        <input name="original_url" value="{{ new_url }}" readonly>
    
        {% if original_url %}
            <a href="{{ original_url }}" target="_blank">Open original URL</a>
        {% elif error %}
            <p>{{ error }}</p>
        {% endif %}        
    </form>

</body>
</html>